.container-custom {
  background-color: hsl(228, 33%, 97%);
}

/* coomments.js */
.comment-card {
  background-color: white;
  border-radius: 3px;
}
.reply-card {
  background-color: white;
  border: 1px black solid;
  width: 80%;
}
