.container-custom {
  background-color: hsl(228, 33%, 97%);
}

/* comment.js */
.comment-card {
  background-color: white;
  border-radius: 10px;
}
.comment-card svg:hover {
  fill: black;
}
.comment-card .counter {
  background-color: #efefef;
}
.comment-card .counter button {
  border: none;
}
.user-info .info-card img {
  height: 2rem;
}
button {
  background: none;
  border: none;
}

.para p {
  text-align: justify;
}
/* reply.js */
.reply-card {
  background-color: white;
  border: 1px black solid;
  width: 80%;
}
.reply-reply-lists {
  width: 80%;
}

/* newReply.js */
.new-reply-hidden {
  visibility: hidden;
}
.new-reply-visible {
  visibility: visible;
}
